body {
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  justify-items: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table, td, th {
  border: 1px solid black;
  padding: 0.5em;
}

th {
  background-color: khaki;
}

tr:nth-child(odd) {
  background-color: peachpuff;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  width: 13em; 
  height: 2em;
  border: 0.1em solid black;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.3em black;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  background-color: brown;
  color: white;
}

input[readonly] {
  background-color: wheat;
}

#inputData {
  display: grid;
  justify-items: left;
}